# 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [18]:
test1 = 'This is a test of the emergency text system'

file = open('test.txt','w')
file.write(test1)

43

In [16]:
%%writefile test2.txt
'This is a test of the emergency text system'

Writing test2.txt

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [15]:
test2 = open('test.txt','r')

test2 = test2.readline()
print(test2)

if test1 == test2:
    print('There is no difference in test1 and test2')

This is a test of the emergency text system
There is no difference in test1 and test2

# 3. Create a CSV file called books.csv by using these lines: 
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [21]:
import csv

rows = [['title','author','year'],
        ['The Weirdstone of Brisingamen','Alan Garner',1960],
        ['Perdido Street Station','China Miéville',2000],
        ['Thud!','Terry Pratchett',2005],
        ['The Spellman Files','Lisa Lutz',2007],
        ['Small Gods','Terry Pratchett',1992]]

with open('book.csv','w',newline='') as file:
        writer = csv.writer(file)
        writer.writerows(rows)

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [25]:
import sqlite3

conn = sqlite3.connect('book.db')
c = conn.cursor()

c.execute('create table book(title varchar(20), author varchar(20), year int)')
conn.commit()

# 5. Read books.csv and insert its data into the book table.

In [26]:
import pandas as pd

rd_books = pd.read_csv('book.csv',encoding = 'unicode_escape')
rd_books.to_sql('books',conn, if_exists = 'append',index = False)

5

# 6. Select and print the title column from the book table in alphabetical order.

In [27]:
c.execute('select title from books order by title asc')
c.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

# 7. From the book table, select and print all columns in the order of publication.

In [36]:
c.execute('select title,author,year from books order by year')

df = pd.DataFrame(c.fetchall(), columns = ['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station  China MiÃ©ville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [39]:
import sqlalchemy

engine = sqlalchemy.create_engine('sqlite:///book.db')
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [5]:
!pip install redis

Requirement already satisfied: redis in /opt/conda/lib/python3.10/site-packages (4.6.0)
Requirement already satisfied: async-timeout>=4.0.2 in /opt/conda/lib/python3.10/site-packages (from redis) (4.0.2)

In [7]:
import redis

conn = redis.Redis()
conn.delete('test')

ConnectionError: Error 99 connecting to localhost:6379. Cannot assign requested address.

# 10. Increment the count field of test and print it.